// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#cb-cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 0;
  display: none;
}
html,
body {
  font-family: "Bangers", cursive;
  min-height: 110vh;
  font-size: 18px;
  background-image: url(images/salle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
